.App {
  background-color: hsl(225, 50%, 5%);
  height: 100vh;
}
.Header {
  color: hsl(45, 100%, 50%);
  text-align: center;
  font-size: 3em;
}
html {
  background-color: hsl(240, 50%, 10%);
}
.svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  height: 100vh;
}
code {
  display: block;
  white-space: pre;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.image-name {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}
#menu {
  width: calc(100vh / 8 + 2px);
  color: white;
  height: 100vh;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu li {
  list-style-type: none;
  border: 1px solid black;
}
#menu li.active {
  border: 1px solid yellow;
}
#menu svg {
  width: calc(100vh / 8);
  height: calc(100vh / 8);
}
#control {
  font-size: 20em;
  color: white;
  position: absolute;
  bottom: 0;
}
input[type='range'] {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 5%;
}
