.App {
  background-color: hsl(225, 50%, 5%);
  height: 100vh;
}
.Header {
  color: hsl(45, 100%, 50%);
  text-align: center;
  font-size: 3em;
}
html {
  background-color: hsl(240, 50%, 10%);
}
image {
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  height: 100vh;
}
code {
  display: block;
  white-space: pre;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
